*{
    margin: 0;
    padding: 0;
}


body {
    background-image: url("./img/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}


#main_container {
    width: 100%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
}


#header_image {
    border-radius: 50%;
    border: 5px solid #491717 !important;
    box-shadow: 9px 3px 3px black;
    margin-top: 16px;
    width: 470px;
    height: 470px;
}

header h1{
    margin-top: 0;
    margin-bottom: 30px;
    font-family: 'Monoton', cursive;
    font-size: 42px;
    box-sizing: border-box;
}

main{
    background-color: aqua;
    box-sizing: border-box;
    padding: 0% 9%;
    height: 100vh;
    width: 100vw;
}

